<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.6.dtd">

<module configVersion="1.6">

    <id>hwcinventory</id>
    <name>HwcInventory</name>
    <version>1.0.0-SNAPSHOT</version>
    <description>Inventory module for Hwc</description>
    <package>org.bahmni.module.hwcinventory</package>
    <author>Bahmni</author>

    <activator>org.bahmni.module.hwcinventory.HwcInventoryActivator</activator>

    <require_modules>
        <require_module>org.openmrs.module.addresshierarchy</require_module>
        <require_module>org.openmrs.module.webservices.rest</require_module>
    </require_modules>

    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>

    <globalProperty>
        <property>esanjeevani.api.baseUrl</property>
        <defaultValue>https://preprod.esanjeevaniopd.xyz/uat</defaultValue>
        <description>Base URL of e-sanjeevani</description>
    </globalProperty>

    <globalProperty>
        <property>esanjeevani.login.url</property>
        <defaultValue>https://uat.esanjeevani.in/#/external-provider-signin/</defaultValue>
        <description>Base URL to which e-sanjeevani redirect will have after login and patient creation</description>
    </globalProperty>

    <globalProperty>
        <property>esanjeevani.source</property>
        <defaultValue>11001</defaultValue>
        <description>source used for e-sanjeevani api's</description>
    </globalProperty>

    <globalProperty>
        <property>esanjeevani.debug</property>
        <defaultValue>false</defaultValue>
        <description>set this true if want to log response to esanjeevani</description>
    </globalProperty>
    <globalProperty>
        <property>eAushadha.inward</property>
        <defaultValue>true</defaultValue>
        <description>set this false if want to use outward API</description>
    </globalProperty>

</module>
